<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<%= @tweeter.each do |tweet| %>
  <img src="<%= tweet.user.profile_image_url%>" alt="">
  <p><%= tweet.user.screen_name %> says: <%= tweet.text %></p>



  <%#= debug(tweet) %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Hashtag</th>
      <th>Is answered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.hashtag %></td>
        <td><%= question.is_answered %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
