<div class="container-fluid">
        
  <!-- Start: Header -->
  <div class="row hero-header questions-list" id="home">
    <div class="container">
      <h1 class="text-center question-header">Questions</h1>
    </div>
    <img src="<%= asset_path "earthdude.png" %>" alt="illustration" class="earthman-banner">
  </div>
  <!-- End: Header -->

</div>

<%= search_form_for @q do |f| %>
  <%= f.label :title_or_hashtag_cont %>
  <%= f.search_field :title_or_hashtag_cont %>
  <%= f.submit %>
<% end %>


<!-- Start: Schedule -->
<div class="container">
  <div class="row me-row schedule" id="schedule">

    <% @questions.each do |question| %>
    <div class="col-md-6 col-md-offset-3">
      <div class="media">
<!--         <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/150x150" alt="...">
          </a>
        </div> -->
        <div class="media-body">
          <h4 class="media-heading"><%= link_to question.title, question %></h4>
          <p>#<%= question.hashtag %></p>

        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
