<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Hashtag:</strong>
  <%= @question.hashtag %>
</p>

<p>
  <strong>Is answered:</strong>
  <%= @question.is_answered %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>


<%= @tweets.each do |tweet| %>
	<img src="<%= tweet.user.profile_banner_url %>" alt="">
	<h1>Twit: <%= tweet.user.screen_name %></h1>
	<p><%= tweet.text %></p>
	<%= debug(tweet) %>
<% end %>
