<div class="container-fluid">
  <!-- Start: Header -->
  <div class="row hero-header question-show" id="home">
    <div class="container">
      <h1 class="text-center"><%= @question.title %></h1>
      <h3 class="text-center">#<%= @question.hashtag %></h3>
    </div>
  </div>
  <!-- End: Header -->
</div>



<div class="container search">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <% if user_signed_in? && (current_user.has_role? :admin) %>
        <%= link_to "Get tweets!", retrieve_tweets_path(id: @question.id), class: "btn btn-warning" %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= search_form_for(@q, url: question_path, :html => {class: 'input-group' }) do |f| %>
        <%= f.search_field :t_screen_name_or_t_text_cont, class: "form-control", placeholder: "Search answers" %>
        <span class="input-group-btn">
          <%= f.submit "Go", class:"btn btn-default" %>
        </span>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row me-row content-ct speaker" id="speakers">
    
    <% @tweets.each do |tweet| %>
      <div class="col-sm-6 col-md-4 col-lg-3 feature tweet">
        <div class="mentor-banner" style="<%= set_tweet_bg(tweet)%>">
        </div>
        <img src="<%= tweet.t_user_prof_img_url %>" class="speaker-img" style="border: 4px solid #<%= tweet.t_user_prof_bg_col %>;">
        <h3><%= tweet.t_screen_name %></h3>
        <p><%= tweet.t_text %></p>
        <% if user_signed_in? && (current_user.has_role? :admin) %>
          <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <!-- <ul class="speaker-social">
          <li><a href="#"><span class="ti-facebook"></span></a></li>
          <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
          <li><a href="#"><span class="ti-linkedin"></span></a></li>
        </ul> -->
      </div>
    <% end %>
  </div>
</div>  







