



<div class="container">
  <%= link_to 'New Mentor', new_mentor_path %>
  <p id="notice"><%= notice %></p>

  <div class="row me-row content-ct speaker" id="speakers">
    <h2 class="row-title">Mentors</h2>
    <% @mentors.each do |mentor| %>
      <div class="col-md-4 col-sm-6 feature">
        <img src="http://placehold.it/150x150" class="speaker-img" style="border: 4px solid #fff;">
        <h3><%= mentor.screen_name %></h3>
        <p><%= mentor.description %></p>
        <ul class="speaker-social">
          <li><a href="#"><span class="ti-facebook"></span></a></li>
          <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
          <li><a href="#"><span class="ti-linkedin"></span></a></li>
        </ul>
        <p><%= link_to 'Show', mentor %></p>
        <p><%= link_to 'Edit', edit_mentor_path(mentor) %></p>
        <p><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </div>
</div>

<!-- 
<p>Twitter id str</p>
<p>Name</p>
<p>Screen name</p>
<p>Description</p>
<p>Url</p>
<p>Followers count</p>
<p>Friends count</p>
<p>Profile background color</p>
<p>Profile background image url</p>
<p>Profile banner url</p>
<p>Profile image url</p>
    
 -->