<div class="container-fluid">
        
  <!-- Start: Header -->
  <div class="row hero-header" id="home">
    <div class="container narrow">
      <div class="col-sm-12 col-md-6">
        <h1 class="question-header">Sign up to be a mentor</h1>
        <h3>Inspire and guide</h3>
        <h4>Number of mentors: 20</h4>
        <!-- <a href="#" class="btn btn-lg btn-red">Count me in!</a> -->
        <a href="#myModal" role="button" class="btn btn-lg btn-red" data-toggle="modal">Count me in!</a>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="<%= asset_path "earthdude.png" %>" alt="illustration" class="landing-earth">
      </div>
    </div>
  </div>
  <!-- End: Header -->
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">We'd Love to Hear From You (currently unavailable)</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal col-sm-12">
          <div class="form-group"><label>Name</label><input class="form-control required" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text"></div>
          <div class="form-group"><label>Message</label><textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual"></textarea></div>
          <div class="form-group"><label>E-Mail</label><input class="form-control email" placeholder="email@you.com (so that we can contact you)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text"></div>
          <div class="form-group"><label>Twitter screen name</label><input class="form-control phone" placeholder="@myname" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long" type="text"></div>
          <div class="form-group"><button type="submit" class="btn btn-success pull-right">Send It!</button> <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p></div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="container search">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <% if user_signed_in? && (current_user.has_role? :admin) %>
        <%= link_to 'New Mentor', new_mentor_path, class: "btn btn-primary" %>
        <%= link_to "Update Mentor list!", update_mentor_path, class: "btn btn-warning" %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= search_form_for @q, :html => {class: 'input-group' } do |f| %>
        <%= f.search_field :name_or_screen_name_or_description_cont, class: "form-control", placeholder: "Search questions" %>
        <span class="input-group-btn">
          <%= f.submit "Go", class:"btn btn-default" %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row me-row content-ct speaker" id="speakers">
    <% @mentors.each do |mentor| %>
      <div class="col-sm-6 col-md-4 col-lg-3 feature">
        <div class="mentor-banner" style="<%= set_bg(mentor)%>">
          
        </div>
        <img src="<%= mentor.profile_image_url %>" class="speaker-img" style="border: 4px solid #<%= mentor.profile_background_color %>;">
        <h3><%=link_to mentor.screen_name, "https://twitter.com/#{mentor.screen_name}", class:"mentor-link" %></h3>
        <p><%= mentor.description.truncate(80) %></p>
        <% if user_signed_in? && (current_user.has_role? :admin) %>
          <%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>