



<div class="container">
  <%= link_to 'New Mentor', new_mentor_path %>
  <p id="notice"><%= notice %></p>

  <div class="row me-row content-ct speaker" id="speakers">
    <h2 class="row-title">Mentors</h2>
    <% @mentors.each do |mentor| %>
      <div class="col-sm-6 col-md-4 col-lg-3 feature">
        <div class="mentor-banner" style="<%= set_bg(mentor)%>">
          
        </div>
        <img src="<%= mentor.profile_image_url %>" class="speaker-img" style="border: 4px solid <%= mentor.profile_background_color %>;">
        <h3><%= mentor.screen_name %></h3>
        <p><%= mentor.description %></p>
        <!-- <ul class="speaker-social">
          <li><a href="#"><span class="ti-facebook"></span></a></li>
          <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
          <li><a href="#"><span class="ti-linkedin"></span></a></li>
        </ul> -->
        <ul class="admin-links">
          <li><%= link_to 'Show', mentor %></li>
          <li><%= link_to 'Edit', edit_mentor_path(mentor) %></li>
          <li><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>  
      </div>
    <% end %>
  </div>
</div>