<!DOCTYPE html>
<html>
  <head>
    <title>MentorSnippets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    
    <%= render 'partials/nav' %>
    <p id="alert"><%= flash[:alert] %></p>
    <p id="notice"><%= flash[:notice] %></p>
    <%= yield %>
    
    <!-- Start: Footer -->
    <div class="container-fluid footer">
      <div class="container">
	      <div class="row footer-credit">
	        <div class="col-md-6 col-sm-6">
	          <p>&copy; 2017, <a href="http://binnyk.github.io">Binny K</a></p>
	        </div>
	        <div class="col-md-6 col-sm-6"> 
	          <ul class="footer-menu">
	            <li><a href="https://www.vexels.com/vectors/preview/142153/friednly-happy-earth-day-cartoon">Earth dude by Vexels</a></li>
	            <!-- <li><a href="#">Privacy Policy</a></li>
	            <li><a href="#">Terms &amp; Condition</a></li> -->
	          </ul>
	        </div>
	      </div>
      </div>
    </div>
    <!-- End: Footer -->
  </body>
</html>
